.body{
  text-align: center;
}

.title{
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 30px;
}

.search{
  height: 20px;
  font-size: 20px;
  padding-bottom: 100px;
}

.search input{
  margin: 10px;
  width: 400px;
}

.form-r1{
  height: 20px;
  font-size: 17px;
  padding-bottom: 30px;
}

.form-r1 span:nth-child(-n + 1){
  padding-right: 100px;
}

.form-r1 span input#quantityBox{
  width: 40px;
}

.header div#left {
  padding-left: 10px;
}

#logo img{
  width: 95px;
}

.form-descr{
  font-size: 17px;
  padding-bottom: 30px;
  height: 220px;
}

.form-descr textarea{
  height: 200px;
  width: 400px;
  resize: none;
}

.submitButton{
  padding-left: 10px;
  padding-right: 10px;

  background-color: white;
  border-style: solid;
  border-color: grey;
  border-width: 1px;

  font-size: 30px;
}
