html, body {
  height: 95%;
}

.header{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;

  top: 0;
  left: 0;

  border-bottom-style: solid;
  border-width: 1px;
}

.body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.header div#left{
  padding: 10px;
}

.header div#right{
  padding: 10px;
}

.header a#logo, .header a#logo:visited{
  text-decoration: none;
  color: black;
  font-size: 40px;
}
